Source: truenas-installer
Section: admin
Priority: optional
Maintainer: Kris Moore <kris@ixsystems.com>
Build-Depends: debhelper (>=10), debhelper-compat (= 12)
Standards-Version: 4.0.0

Package: truenas-installer
Package-Type: udeb
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}, partman-base, finish-install, gawk, setserial
Description: TrueNAS installation for Debian
 This package provides the TrueNAS Debian installation scripts and tools.

