Source: truenas-installer
Section: admin
Priority: optional
Maintainer: Kris Moore <kris@ixsystems.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0

Package: truenas-installer
Package-Type: deb
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}, dialog, python3-psutil, squashfs-tools, gdisk, zfsutils-linux
Description: TrueNAS installation for Debian
 This package provides the TrueNAS Debian installation scripts and tools.

Package: truenas-installer-udeb
Package-Type: udeb
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}, debootstrap, partman-base, finish-install, gawk, setserial
Description: TrueNAS installation for Debian
 This package provides the TrueNAS Debian installation scripts and tools.

