Source: truenas-installer
Section: admin
Priority: optional
Maintainer: Vladimir Vinogradenko <vladimirv@ixsystems.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-ixhardware,
               python3-licenselib,
               python3-humanfriendly,
               python3-psutil,
               python3-setuptools
Standards-Version: 4.4.0

Package: python3-truenas-installer
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         dialog,
         gdisk,
         openzfs,
         parted,
         python3-ixhardware,
         python3-licenselib,
         python3-humanfriendly,
         python3-psutil,
         setserial,
         squashfs-tools,
         util-linux
Description: TrueNAS Installer
 TrueNAS Installer
