#!/usr/bin/make -f

clean:
	rm -rf debian/truenas-installer
	rm -rf dist/

build:
	@# Do nothing

build-arch: build

build-indep: build

binary: binary-arch

binary-arch: binary-stamp

binary-indep: binary-stamp

binary-stamp:
	mkdir -p debian/truenas-installer/usr/sbin
	cp -a usr/sbin/* debian/truenas-installer/usr/sbin/
	dh_lintian
	dh_gencontrol
	dh_builddeb
