#!/usr/bin/make -f

clean:
	rm -rf debian/truenas-installer
	rm -rf dist/

build:
	@# Do nothing

build-arch: build

build-indep: build

binary: binary-arch

binary-arch: binary-stamp

binary-indep: binary-stamp

binary-stamp:
	mkdir -p debian/truenas-installer/lib/partman
	mkdir -p debian/truenas-installer/usr/lib/finish-install.d
	cp -a lib/partman/* debian/truenas-installer/lib/partman/
	cp -a usr/lib/* debian/truenas-installer/usr/lib/
	cp debian/copyright debian/truenas-installer/usr/share/doc/truenas-installer/copyright
	cp debian/changelog debian/truenas-installer/usr/share/doc/truenas-installer/changelog
	gzip -9 debian/truenas-installer/usr/share/doc/truenas-installer/changelog
	dh_lintian
	dh_gencontrol
	dh_builddeb
